# Example environment variables for Fare & Payment Microservice
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.kzznury.mongodb.net/ridelink_fare_payment?retryWrites=true&w=majority&appName=Cluster0
FARE_PAYMENT_MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.kzznury.mongodb.net/ridelink_fare_payment?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DATABASE=ridelink_fare_payment
PORT=8084

# Peer Microservices URLs
RIDE_SERVICE_URL=http://localhost:8082
ACCOUNT_SERVICE_URL=http://localhost:8080
DRIVER_SERVICE_URL=http://localhost:8081
